:root {
    --size: 70px;
}

div,
table {
    margin: 0 auto;
    text-align: center;
}

table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
}

.h1 {
    height: var(--size);
}

.h2 {
    height: calc(var(--size) * 2);
}

.h3 {
    height: calc(var(--size) * 3);
}

.h4 {
    height: calc(var(--size) * 4);
}

.h5 {
    height: calc(var(--size) * 5);
}

.w1 {
    width: var(--size);
}

.w2 {
    width: calc(var(--size) * 2);
}

.w3 {
    width: calc(var(--size) * 3);
}

.w4 {
    width: calc(var(--size) * 4);
}

.bg-red {
    background-color: #af7f3f;
}

.bg-yellow {
    background-color: #928e4e;
}

.bg-green {
    background-color: #3d5a3d;
}

.bg-blue {
    background-color: #2c4a63;
}

.bg-grey {
    background-color: #5e5c5c;
}